<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bahrii Blog Second Entry</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="/src/images/svg/Odesa_logo.svg"
    />
    <link rel="stylesheet" href="/src/css/index.min.css" />
    <script src="https://unpkg.com/htmlincludejs"></script>
</head>
<body>
  <header class="header">
    <div class="header__background"></div>
    <div class="container container--header">
      <a href="/src/index.html" class="logo"><p>Olena</p><p>Bahrii</p></a>
      <nav>
        <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
          <svg class="menu-toggle__button" width="32" height="32">
            <use href="/src/images/svg/sprite.svg#menu"></use>
          </svg>
        </button>
        <ul class="site-nav">
          <li>
            <a href="/src/index.html" class="site-nav__link js-nav-link">Home</a>
          </li>
          <li>
            <a href="/src/index.html#about" class="site-nav__link js-nav-link">About</a>
          </li>
          <li>
            <a href="/src/index.html#projects" class="site-nav__link js-nav-link">Projects</a>
          </li>
          <li>
            <a href="../index.html" class="site-nav__link js-nav-link active">Blog</a>
          </li>
          <li>
            <a href="/src/partials/contact/index.html" class="site-nav__link js-nav-link">Contact</a>
          </li>
    
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <section class="post">
      <div class="container">
        <a href="../index.html" class="post__back-button">Back</a>
      <h1 class="post__title">JavaScript Async/Await: Making Promises</h1>
      <div class="divider divider--contrast"></div>
      <div class="post__content">
      <h2 class="post__secondary-title">Date: <span>23.10.2022</span></h2>
      <h2 class="post__secondary-title">Content: </h2>
      <p class="post__content">Today's journey took me into the heart of JavaScript's asynchronous patterns, specifically the elegant async/await syntax. It's a powerful way to work with promises, making asynchronous code look and behave a bit more like synchronous code.</p>
      <h2 class="post__secondary-title">What I Learned:</h2>
      <ul class="post__list">
        <li>
            <p class="post__content">
                <span>Understanding Async/Await: </span>These two keywords transform how we handle promises. I learned that marking a function with async means it always returns a promise, and await can be used to pause the code until that promise settles.
            </p>
        </li>
        <li>
            <p class="post__content">
                <span>Error Handling: </span>I explored using try/catch blocks within async functions for error handling, which felt more intuitive than chaining .then() and .catch().
            </p>
        </li>
      </ul>
      <h2 class="post__secondary-title">Helpful Resources:</h2>
      <ul class="post__list">
        <li>
            <a href="https://javascript.info/async-await" rel="noreferrer noopener" target="_blank" class="post__link">JavaScript.info on Async/Await</a>
            <span> – This resource broke down the concepts clearly and concisely.</span>
        </li>
        <li>
            <a href="https://www.youtube.com/watch?v=7l2-ds_U2Lc" rel="noreferrer noopener" target="_blank" class="post__link">Async/Await Tutorial on YouTube</a>
            <span> – This video helped solidify my understanding with practical examples.</span>
        </li>
      </ul>
      <h2 class="post__secondary-title">Challenges Encountered:</h2>
      <ul class="post__list">
        <li><p class="post__content">One major challenge was refactoring existing promise-based code to async/await. It was a bit tricky to get the hang of the new syntax.</p></li>
        <li><p class="post__content">Dealing with asynchronous errors and understanding how to catch them effectively.</p></li>
      </ul>
      <h3>Problem Solving:</h3>
      <ul class="post__list">
        <li><p class="post__content">I dedicated time to rewrite some of my previous projects' functions using async/await, which helped me understand the nuances.</p></li>
        <li><p class="post__content">I practiced different error-handling scenarios to see how async/await behaves differently from traditional promise chains.</p></li>
      </ul>
      <h2 class="post__secondary-title">Next Steps:</h2>
      <ul class="post__list">
        <li><p class="post__content">My goal is to integrate async/await more naturally into my daily coding practices.</p></li>
        <li><p class="post__content">I plan to explore how async/await can be used with API calls in React components.</p></li>
      </ul>
      </div>
      </div>
    </section>

    </main>
    <footer class="footer">
      <div class="footer__background"></div>
      <div class="container">
          <ul class="contact-list">
              <li><a href="https://t.me/Elena_Bagriy" rel="noreferrer noopener" target="_blank" class="contact-list__link">
                  <svg class="auth-modal-close" width="35" height="35">
                      <use href="/src/images/svg/sprite.svg#telegram"></use>
                  </svg>
              </a></li>
              <li><a href="https://www.linkedin.com/in/elena-bagriy/" rel="noreferrer noopener" target="_blank" class="contact-list__link">
                  <svg class="auth-modal-close" width="35" height="35">
                      <use href="/src/images/svg/sprite.svg#linkedin"></use>
                  </svg>
            </a></li>
            <li><a href="https://github.com/ElenaBagriy" rel="noreferrer noopener" target="_blank" class="contact-list__link">
              <svg class="auth-modal-close" width="35" height="35">
                  <use href="/src/images/svg/sprite.svg#github-link"></use>
              </svg>
          </a></li>
            <li>
              <a href="tel:+41765433827" class="contact-list__link">
                <svg class="auth-modal-close" width="35" height="35">
                  <use href="/src/images/svg/sprite.svg#phone"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="mailto:elena.bagriy1989@gmail.com" class="contact-list__link">
                <svg class="auth-modal-close" width="35" height="35">
                  <use href="/src/images/svg/sprite.svg#email"></use>
                </svg>
              </a>
            </li>
          </ul>
          <div class="basement-copyright">
            <p class="basement-title">© 2024 - Olena Bahrii.</p>
          </div>
        </div>
        <a class="btn-to-top" title="Return to top">
          <svg class="auth-modal-close" width="40" height="40">
            <use href="/src/images/svg/sprite.svg#arrow-up"></use>
          </svg>
        </a>
      </footer>

      <div class="menu-container js-menu-container" id="mobile-menu">
        <button class="menu-toggle js-close-menu">
          <svg class="menu-toggle__button" width="32" height="32">
            <use href="../../../images/svg/sprite.svg#close">
            </use>
          </svg>
        </button>
      
        <div class="flex-container">
          <ul class="mobile-menu">
            <li>
              <a href="/src/index.html" class="mobile-menu__link js-nav-link">Home</a>
            </li>
            <li>
              <a href="/src/index.html#about" class="mobile-menu__link js-nav-link">About</a>
            </li>
            <li>
              <a href="/src/index.html#projects" class="mobile-menu__link js-nav-link">Projects</a>
            </li>
            <li>
              <a href="/src/partials/blog/index.html" class="mobile-menu__link js-nav-link active">Blog</a>
            </li>
            <li>
              <a href="/src/partials/contact/index.html" class="mobile-menu__link js-nav-link">Contact</a>
            </li>
          </ul>  
        </div>
      </div>
      <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
      integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
      crossorigin="anonymous"
    ></script>
      <script src="/src/index.js" type="module"></script>
</body>
</html>