:root {
  --primary-text-color: #222222;
  --background-color: #F9FAFF;
  --accent-color: #FDC435;
  --divider-color: #5E5E5E;
  --white-color: #ffffff;
  --transition-dure-and-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --box-shadow: 0px 6px 64px 0px rgba(112, 144, 176, 0.10);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--background-color);
}

body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.thumb {
  width: 327px;
  border-radius: 10px;
  background-color: var(--divider-color);
}
@media screen and (min-width: 744px) {
  .thumb {
    width: 696px;
  }
}
@media screen and (min-width: 1024px) {
  .thumb {
    width: 423px;
  }
}
@media screen and (min-width: 1440px) {
  .thumb {
    width: 513px;
  }
}

.container {
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}
@media screen and (min-width: 744px) {
  .container {
    width: 744px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    width: 1024px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    padding-left: 150px;
    padding-right: 150px;
    width: 1440px;
  }
}

.container--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 36px;
  padding-bottom: 36px;
}
@media screen and (min-width: 1440px) {
  .container--header {
    padding-left: 32px;
    padding-right: 32px;
    width: 1420px;
  }
}

.section {
  padding-top: 25px;
  padding-bottom: 25px;
}

.section__title {
  padding: 10px 0;
  color: var(--primary-text-color);
  text-align: center;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero {
  padding: 35px 60px;
  margin: 0 auto;
  text-align: center;
  color: var(--primary-text-color);
  max-width: 375px;
}
@media screen and (min-width: 744px) {
  .hero {
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 744px;
  }
}
@media screen and (min-width: 1024px) {
  .hero {
    padding-left: 62px;
    padding-right: 62px;
    max-width: 1024px;
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    padding-left: 270px;
    padding-right: 270px;
    max-width: none;
  }
}

.hero__title {
  margin: 0 auto 35px;
  text-align: center;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (min-width: 744px) {
  .hero__title {
    font-size: 48px;
  }
}

.hero__text {
  margin: 25px auto;
  padding: 10px 0;
  text-align: center;
  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (min-width: 744px) {
  .hero__text {
    padding: 10px 50px;
    font-size: 18px;
  }
}

.hero__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}
@media screen and (min-width: 744px) {
  .hero__list {
    flex-direction: row;
    gap: 61px;
  }
}

.divider {
  display: block;
  margin: 10px auto;
  text-align: center;
  width: 263px;
  height: 4px;
  background-color: var(--accent-color);
}

.divider--portfolio {
  width: 100%;
  height: 1px;
  background-color: var(--accent-color);
}

.divider--contrast {
  background-color: var(--primary-text-color);
}

.logo {
  color: var(--primary-text-color);
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  transition: color var(--transition-dure-and-function);
}
.logo:hover,
.logo :focus {
  color: var(--accent-color);
}

.site-nav {
  display: none;
}
@media screen and (min-width: 1024px) {
  .site-nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
  }
}

.site-nav__link {
  padding: 10px 35px;
  border-radius: 10px;
  color: var(--primary-text-color);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: background-color var(--transition-dure-and-function), color var(--transition-dure-and-function);
}
.site-nav__link:hover,
.site-nav__link :focus {
  color: var(--accent-color);
  background-color: var(--primary-text-color);
}
.site-nav__link.active {
  color: var(--white-color);
  background-color: var(--primary-text-color);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  padding: 10px 35px;
  border-radius: 10px;
  border: 1px solid var(--primary-text-color);
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  transition: background-color var(--transition-dure-and-function), color var(--transition-dure-and-function), box-shadow var(--transition-dure-and-function), border-color var(--transition-dure-and-function);
}
.button:hover,
.button :focus {
  color: var(--accent-color);
  background-color: var(--primary-text-color);
}

.button--primary {
  padding: 10px 35px;
  border-radius: 10px;
  color: var(--white-color);
  background-color: var(--primary-text-color);
}
.button--primary:hover,
.button--primary :focus {
  color: var(--primary-text-color);
  background-color: var(--accent-color);
}

.button--contrast {
  padding: 10px 35px;
  border-radius: 10px;
  border: none;
  background-color: var(--accent-color);
}
.button--contrast:hover,
.button--contrast :focus {
  color: var(--white-color);
  background-color: var(--primary-text-color);
}

.button--resume:hover,
.button--resume :focus {
  color: var(--primary-text-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.about {
  padding: 10px;
  margin: 25px auto;
  color: var(--primary-text-color);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: pre-wrap;
}

.portfolio {
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  row-gap: 75px;
}
@media screen and (min-width: 744px) {
  .portfolio {
    flex-direction: row;
    flex-wrap: wrap;
    -moz-column-gap: 112px;
         column-gap: 112px;
  }
}

.portfolio__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--white-color);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: var(--box-shadow);
}
@media screen and (min-width: 1024px) {
  .portfolio__item {
    width: 423px;
  }
}
@media screen and (min-width: 1440px) {
  .portfolio__item {
    width: 513px;
  }
}

.portfolio__title {
  padding: 10px 0;
  color: var(--primary-text-color);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.portfolio__description {
  padding: 10px 0;
  color: var(--primary-text-color);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.portfolio__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.tech-list {
  display: flex;
  gap: 36px;
}

.tech-list__item {
  color: var(--primary-text-color);
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.links-list {
  display: flex;
  gap: 20px;
}

.links-list__link svg {
  transition: scale var(--transition-dure-and-function);
}
.links-list__link:hover svg,
.links-list__link :focus svg {
  scale: 1.2;
}

.contact {
  padding: 35px 0;
  margin: 0 auto;
  text-align: center;
  color: var(--primary-text-color);
  max-width: 1600px;
}
@media screen and (min-width: 744px) {
  .contact {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.contact__title {
  margin: 0 auto 35px;
  padding: 10px 0;
  color: var(--primary-text-color);
  text-align: center;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contact__adresse {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (min-width: 744px) {
  .contact__adresse {
    font-size: 18px;
  }
}

.contact__text-list {
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  margin: 25px 0;
  padding: 10px 0;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (min-width: 744px) {
  .contact__text-list {
    font-size: 18px;
  }
}

.contact__item {
  text-align: left;
}

.contact__link {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--primary-text-color);
  transition: color var(--transition-dure-and-function);
}
@media screen and (min-width: 744px) {
  .contact__link {
    font-size: 18px;
  }
}
.contact__link:hover,
.contact__link :focus {
  text-decoration: underline;
}

.contact-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.contact-list__link svg {
  transition: scale var(--transition-dure-and-function);
}
.contact-list__link:hover svg,
.contact-list__link :focus svg {
  scale: 1.2;
}

.contact__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 35px 0;
}
@media screen and (min-width: 744px) {
  .contact__wrapper {
    flex-direction: row;
    align-items: center;
    font-size: 18px;
  }
}

.contact__photo {
  width: 190px;
  border-radius: 10px;
  border: 4px solid var(--accent-color);
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact__accent-text {
  font-weight: 700;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  gap: 25px;
}
@media screen and (min-width: 1024px) {
  .form {
    width: 744px;
  }
}

.form__label {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 9px;
  color: var(--primary-text-color);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.form__input {
  border-radius: 10px;
  border: 1px solid var(--divider-color);
  background: var(--white-color);
  padding: 10px;
  color: var(--divider-color);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.form__textarea {
  border-radius: 10px;
  border: 1px solid var(--divider-color);
  background: var(--white-color);
  padding: 10px;
  color: var(--divider-color);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  resize: none;
  overflow: auto;
  height: 125px;
}

.form__wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}

.footer {
  padding-top: 45px;
  padding-bottom: 45px;
  position: relative;
  text-align: center;
}

.footer__background {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  min-width: 100%;
  height: 345px;
  background-image: url("/src/images/footer/background-footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer__list {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 744px) {
  .footer__list {
    flex-direction: row;
    gap: 5px;
  }
}

.footer__link {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--primary-text-color);
}

.header {
  position: relative;
}

.header__background {
  min-width: 720px;
  height: 629px;
  position: absolute;
  right: 0;
  z-index: -1;
  background-image: url("/src/images/footer/background-header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer {
  padding-top: 45px;
  padding-bottom: 45px;
  position: relative;
  text-align: center;
}

.footer__background {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  min-width: 100%;
  height: 345px;
  background-image: url("/src/images/footer/background-footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blog {
  padding: 35px 0;
  margin: 0 auto;
  text-align: center;
  color: var(--primary-text-color);
  max-width: 1600px;
}
@media screen and (min-width: 744px) {
  .blog {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.blog__title {
  margin: 0 auto 35px;
  padding: 10px 0;
  color: var(--primary-text-color);
  text-align: center;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.blog__description {
  margin: 25px auto;
  padding: 10px 0;
  text-align: center;
  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (min-width: 744px) {
  .blog__description {
    padding: 10px 50px;
    font-size: 18px;
  }
}

.blog__secondary-title {
  margin: 0 auto 35px;
  padding: 10px 0;
  color: var(--primary-text-color);
  text-align: center;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.blog__list {
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  margin: 25px auto;
  padding: 10px 0;
  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (min-width: 744px) {
  .blog__list {
    padding: 10px 50px;
    font-size: 18px;
  }
}

.blog__link {
  padding: 10px 0;
  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--primary-text-color);
  transition: color var(--transition-dure-and-function);
}
@media screen and (min-width: 744px) {
  .blog__link {
    font-size: 18px;
  }
}
.blog__link:hover,
.blog__link :focus {
  color: var(--accent-color);
}

.post {
  padding: 35px 0;
  margin: 0 auto;
  color: var(--primary-text-color);
  max-width: 1600px;
}
@media screen and (min-width: 744px) {
  .post {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.post__title {
  margin: 0 auto 35px;
  padding: 10px 0;
  color: var(--primary-text-color);
  text-align: center;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.post__content {
  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (min-width: 744px) {
  .post__content {
    font-size: 18px;
  }
}

.post__secondary-title {
  margin-top: 15px;
  padding: 10px 0;
  color: var(--primary-text-color);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.post__list {
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  padding: 10px 0;
  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (min-width: 744px) {
  .post__list {
    padding: 10px 50px;
    font-size: 18px;
  }
}

.post__link {
  padding: 10px 0;
  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--primary-text-color);
  transition: color var(--transition-dure-and-function);
}
@media screen and (min-width: 744px) {
  .post__link {
    font-size: 18px;
  }
}
.post__link:hover,
.post__link :focus {
  color: var(--accent-color);
}

.post__back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-max-content;
  width: max-content;
  padding: 5px 25px;
  margin-bottom: 35px;
  border-radius: 10px;
  border: 1px solid var(--accent-color);
  color: var(--primary-text-color);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  transition: background-color var(--transition-dure-and-function), color var(--transition-dure-and-function), border-color var(--transition-dure-and-function);
}
.post__back-button:hover,
.post__back-button :focus {
  color: var(--accent-color);
  background-color: var(--primary-text-color);
  border-color: var(--primary-text-color);
}

.btn-to-top {
  display: none;
}

.btn-to-top--visible {
  display: block;
  position: fixed;
  right: 30px;
  bottom: 50px;
  opacity: 0.6;
  font-size: 49px;
  color: black;
  transition-property: opacity, scale;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-to-top--visible:hover,
.btn-to-top--visible :focus {
  cursor: pointer;
  scale: 1.1;
  opacity: 1;
}

@media screen and (max-width: 1023px) {
  .modal__button {
    display: none;
  }
}

.menu-toggle {
  display: flex;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
@media (min-width: 1024px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  overflow-y: scroll;
}
@media (min-width: 1024px) {
  .menu-container {
    display: none;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  transition: scale var(--transition-dure-and-function);
}
.menu-container .menu-toggle:hover, .menu-container .menu-toggle:active {
  scale: 1.2;
}

.flex-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 25px;
  list-style: none;
}

.mobile-menu__link {
  display: block;
  padding: 10px 35px;
  border-radius: 10px;
  color: var(--primary-text-color);
  text-decoration: none;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__link:hover,
.mobile-menu__link :focus {
  color: var(--accent-color);
}
.mobile-menu__link.active {
  color: var(--white-color);
  background-color: var(--primary-text-color);
}
@media (min-width: 1024px) {
  .mobile-menu__link {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .modal__button {
    display: none;
  }
}

.mobile-menu__button {
  padding: 10px 32px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1024px) {
  .mobile-menu__button {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */