.about {
    padding: 10px;
    margin: 25px auto;
    color: var(--primary-text-color);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: pre-wrap;
    }