.form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    gap: 25px;

    @media screen and (min-width: 1024px) {
        width: 744px;
    }
}

.form__label {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 9px;
    color: var(--primary-text-color);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.form__input {
    border-radius: 10px;
    border: 1px solid var(--divider-color);
    background: var(--white-color);
    padding: 10px;
    color: var(--divider-color);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.form__textarea {
    border-radius: 10px;
    border: 1px solid var(--divider-color);
    background: var(--white-color);
    padding: 10px;
    color: var(--divider-color);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    resize: none;
    overflow: auto;
    height: 125px;
}

.form__wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}