.hero {
    padding: 35px 60px;
    margin: 0 auto;
    text-align: center;
    color: var(--primary-text-color);
    max-width: 375px;

    @media screen and (min-width: 744px) {
        padding-top: 50px;
        padding-bottom: 50px;
        max-width: 744px;
    }

    @media screen and (min-width: 1024px) {
        padding-left: 62px;
        padding-right: 62px;
        max-width: 1024px;
    }

    @media screen and (min-width: 1440px) {
        padding-left: 270px;
        padding-right: 270px;
        max-width: none;
    }
}

.hero__title {
    margin: 0 auto 35px;
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
    @media screen and (min-width: 744px) {
        font-size: 48px;
    }

}

.hero__text {
    margin: 25px auto;
    padding: 10px 0;
    text-align: center;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    
    @media screen and (min-width: 744px) {
        padding: 10px 50px;
        font-size: 18px;
    }
}

.hero__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    
    @media screen and (min-width: 744px) {
        flex-direction: row;
        gap: 61px;
    }
}