.links-list {
    display: flex;
    gap: 20px;
}

.links-list__link {
    svg {
        transition: scale var(--transition-dure-and-function);
    }

    &:hover,
    :focus {
        svg {
            scale: 1.2;
        }
    }
}