.site-nav {
    display: flex;
    gap: 25px;
    flex-direction: column;

    @media screen and (min-width: 1024px) {
        flex-direction: row;
        gap: 0px;
        width: 620px;
        justify-content: space-between;
        align-items: center;
    }
}

.site-nav__link {
    color: var(--primary-text-color);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    transition: background-color var(--transition-dure-and-function), color var(--transition-dure-and-function), box-shadow var(--transition-dure-and-function), border-color var(--transition-dure-and-function);

    &:hover,
    :focus {
        color: var(--accent-color);
    }
}

.site-nav__link--contrast {
    padding: 10px 35px;
    border-radius: 10px;
    color: var(--white-color);
    background-color: var(--primary-text-color);

    &:hover,
    :focus {
        background-color: var(--accent-color);
        border-color: var(--accent-color);
        color: var(--primary-text-color);
    }
}