<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bahrii Contact</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="../../images/svg/Odesa_logo.svg"
    />
    <link rel="stylesheet" href="../../css/index.min.css" />
    <script src="https://unpkg.com/htmlincludejs"></script>
</head>
<body>
  <header class="header">
    <div class="header__background"></div>
    <div class="container container--header">
      <a href="../../index.html" class="logo"><p>Olena</p><p>Bahrii</p></a>
      <nav>
        <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
          <svg class="menu-toggle__button" width="32" height="32">
            <use href="../../images/svg/sprite.svg#menu"></use>
          </svg>
        </button>
        <ul class="site-nav">
          <li>
            <a href="../../index.html" class="site-nav__link js-nav-link">Home</a>
          </li>
          <li>
            <a href="../../index.html#about" class="site-nav__link js-nav-link">About</a>
          </li>
          <li>
            <a href="../../index.html#projects" class="site-nav__link js-nav-link">Projects</a>
          </li>
          <li>
            <a href="../blog/index.html" class="site-nav__link js-nav-link">Blog</a>
          </li>
          <li>
            <a href="./index.html" class="site-nav__link js-nav-link active">Contact</a>
          </li>
    
        </ul>
      </nav>
    </div>
  </header>
  <main>
      <section class="contact">
        <div class="container">
          <h1 class="contact__title">Contact me!</h1>
          <div class="divider divider--contrast"></div>
          <ul class="contact-list">
            <li><a href="https://t.me/Elena_Bagriy" rel="noreferrer noopener" target="_blank" class="contact-list__link">
              <svg class="auth-modal-close" width="35" height="35">
                <use href="../../images/svg/sprite.svg#telegram"></use>
              </svg>
            </a></li>
            <li><a href="https://www.linkedin.com/in/elena-bagriy/" rel="noreferrer noopener" target="_blank" class="contact-list__link">
              <svg class="auth-modal-close" width="35" height="35">
                <use href="../../images/svg/sprite.svg#linkedin"></use>
              </svg>
            </a></li>
            <li><a href="https://github.com/ElenaBagriy" rel="noreferrer noopener" target="_blank" class="contact-list__link">
              <svg class="auth-modal-close" width="35" height="35">
                <use href="../../images/svg/sprite.svg#github-link"></use>
              </svg>
            </a></li>
            <li>
              <a href="tel:+41765433827" class="contact-list__link">
                <svg class="auth-modal-close" width="35" height="35">
                  <use href="../../images/svg/sprite.svg#phone"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="mailto:elena.bagriy1989@gmail.com" class="contact-list__link">
                <svg class="auth-modal-close" width="35" height="35">
                  <use href="../../images/svg/sprite.svg#email"></use>
                </svg>
              </a>
            </li>
          </ul>

          <div class="contact__wrapper">
            <div class="contact__photo">
              <picture>
                <source srcset="../../images/portfolio/photo.webp" type="image/webp">
                <source srcset="../../images/portfolio/photo.jpeg" type="image/jpeg">
                <img src="../../images/portfolio/photo.jpeg" alt="Olena Bahrii Photo">
              </picture>
            </div>
            <ul class="contact__text-list">
              <li class="contact__item">
                  <address>
                    <p class="contact__adresse"><span class="contact__accent-text">Adresse: </span>Erlenstrasse 10, 8134 Adliswil, Switzerland</p>
                  </address>
              </li>
              <li class="contact__item">
                  <span class="contact__accent-text">Phone number:</span>
                  <a href="tel:+41765433827" class="contact__link">
                      076 543 38 27
                  </a>
              </li>
              <li class="contact__item">
                  <span class="contact__accent-text">E-mail:</span>
                  <a href="mailto:elena.bagriy1989@gmail.com" class="contact__link">
                      elena.bagriy1989@gmail.com
                  </a>
              </li>
              <li class="contact__item"><span class="contact__accent-text">Telegram: </span>
                <a href="https://t.me/Elena_Bagriy" rel="noreferrer noopener" target="_blank" class="contact__link">
                https://t.me/Elena_Bagriy
              </a></li>
              <li class="contact__item"><span class="contact__accent-text">Linkedin: </span>
                <a href="https://www.linkedin.com/in/elena-bagriy/" rel="noreferrer noopener" target="_blank" class="contact__link">
                  https://www.linkedin.com/in/elena-bagriy/
            </a></li>
            <li class="contact__item"><span class="contact__accent-text">GitHub: </span>
              <a href="https://github.com/ElenaBagriy" rel="noreferrer noopener" target="_blank" class="contact__link">
                https://github.com/ElenaBagriy
          </a></li>
          </ul>
          </div>
        </div>
        
      </section>
    </main>
    <footer class="footer">
      <div class="footer__background"></div>
      <div class="container">
          <ul class="contact-list">
              <li><a href="https://t.me/Elena_Bagriy" rel="noreferrer noopener" target="_blank" class="contact-list__link">
                  <svg class="auth-modal-close" width="35" height="35">
                      <use href="../../images/svg/sprite.svg#telegram"></use>
                  </svg>
              </a></li>
              <li><a href="https://www.linkedin.com/in/elena-bagriy/" rel="noreferrer noopener" target="_blank" class="contact-list__link">
                  <svg class="auth-modal-close" width="35" height="35">
                      <use href="../../images/svg/sprite.svg#linkedin"></use>
                  </svg>
            </a></li>
            <li><a href="https://github.com/ElenaBagriy" rel="noreferrer noopener" target="_blank" class="contact-list__link">
              <svg class="auth-modal-close" width="35" height="35">
                  <use href="../../images/svg/sprite.svg#github-link"></use>
              </svg>
          </a></li>
            <li>
              <a href="tel:+41765433827" class="contact-list__link">
                <svg class="auth-modal-close" width="35" height="35">
                  <use href="../../images/svg/sprite.svg#phone"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="mailto:elena.bagriy1989@gmail.com" class="contact-list__link">
                <svg class="auth-modal-close" width="35" height="35">
                  <use href="../../images/svg/sprite.svg#email"></use>
                </svg>
              </a>
            </li>
          </ul>
          <div class="basement-copyright">
            <p class="basement-title">© 2024 - Olena Bahrii.</p>
          </div>
        </div>
      </footer>

      <a class="btn-to-top" title="Return to top">
        <svg class="auth-modal-close" width="40" height="40">
          <use href="../../images/svg/sprite.svg#arrow-up"></use>
        </svg>
      </a>
      <div class="menu-container js-menu-container" id="mobile-menu">
        <button class="menu-toggle js-close-menu">
          <svg class="menu-toggle__button" width="32" height="32">
            <use href="../../images/svg/sprite.svg#close">
            </use>
          </svg>
        </button>
      
        <div class="flex-container">
          <ul class="mobile-menu">
            <li>
              <a href="../../index.html" class="mobile-menu__link js-nav-link">Home</a>
            </li>
            <li>
              <a href="../../index.html#about" class="mobile-menu__link js-nav-link">About</a>
            </li>
            <li>
              <a href="../../index.html#projects" class="mobile-menu__link js-nav-link">Projects</a>
            </li>
            <li>
              <a href="../blog/index.html" class="mobile-menu__link js-nav-link">Blog</a>
            </li>
            <li>
              <a href="./index.html" class="mobile-menu__link js-nav-link active">Contact</a>
            </li>
          </ul>  
        </div>
      </div>
      <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
      integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
      crossorigin="anonymous"
    ></script>
      <script src="../../index.js" type="module"></script>
</body>
</html>